.ArticlesList {
  float: left;
  margin: auto;
  min-height: 20vh;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ListContainer {
  width: 90%;
  margin: auto;
  padding-top: 2vh;
}

.LoadButton {
  padding-top: 2vh;
}

@media screen and (max-width: 430px) {
  .ArticlesList {
    float: none;
    width: 100%;
  }
}
