.Search {
  float: left;
  margin: auto;
  width: 50%;
}

.SearchForm {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
}

.Search_Field {
  width: 70%;
  padding: 10px;
}

.Search_Button {
  padding: 2vh;
}

@media screen and (max-width: 560px) {
  .Search {
    width: 100%;
    float: none;
    margin: auto;
  }

  .SearchForm {
    flex-direction: column;
  }

  .Search_Field {
    width: 90%;
  }
}
